<footer>
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p class="pull-left"><span class="email">
        <%= mail_to "hello@designlabmiami.com" %></span></p>    
      </div><!-- col-sm-6 -->
      <div class="col-sm-6">
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Lookbook</a></li>
            <li><a href="#">Safety</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </nav>        
      </div><!-- col-sm-6 -->
    </div><!-- row -->
  </div><!-- content container -->
</footer>