  <div class="page" id="kids">
    <div class="container-fluid">
      <h2>Testimonials</h2>
      <div class="row">
        <blockquote class="col-md-6 col-lg-3" id="camp">
          <div class="quote">
            <span class="intro">CAMP OPTIONS</span>
            <span class="more"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.</span>
            <a class="btn btn-large btn-primary learnmore" href="#" data-toggle="modal" data-target="#myModal">Learn more</a>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="afterschool">
          <div class="quote">
            <span class="intro">After school programs</span>
            <span class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.</span>
            <a class="btn btn-large btn-primary learnmore" href="#" data-toggle="modal" data-target="#myModal">Learn more</a>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="inschool">
          <div class="quote">
            <span class="intro">In school programs</span>
            <span class="more"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.</span>
            <a class="btn btn-large btn-primary learnmore" href="#" data-toggle="modal" data-target="#myModal">Learn more</a>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="other">
          <div class="quote">
             <span class="intro">Other events</span>
            <span class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.</span>
            <a class="btn btn-large btn-primary learnmore" href="#" data-toggle="modal" data-target="#myModal">Learn more</a>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>          
      </div>
    </div><!-- container -->
  </div><!-- kids page -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog fullheight" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><H1>Camp Options</H1></h4>
      </div>
      <div class="modal-body">
        <div class="info">
        <h3>Summer Camps</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.</p>
        <a class="btn btn-large btn-primary registernow" href="/registration" data-course="summercamp">REGISTER NOW</a>
        </div>
        <div class="info">
          <h3>Mini Camps</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.</p>
          <a class="btn btn-large btn-primary registernow" href="/registration" data-course="minicamp">REGISTER NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>