  <div class="page" id="kids">
    <div class="container-fluid">
      <h2>Testimonials</h2>
      <div class="row">
        <blockquote class="col-md-6 col-lg-3" id="camp">
          <div class="quote">
            <span class="intro">CAMP OPTIONS</span>
            <span class="more"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla.</span>
            <a class="btn btn-large btn-primary learnmore" href="#">Learn more</a>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="afterschool">
          <div class="quote">
            <span class="intro">After school programs</span>
            <span class="more"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla. Nullam sed interdum felis, nec posuere mauris. Integer elit elit, vestibulum blandit metus et, malesuada blandit orci. Morbi nisi odio, tempus a finibus vitae, feugiat eu odio.</span>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="inschool">
          <div class="quote">
            <span class="intro">In school programs</span>
            <span class="more"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla. Nullam sed interdum felis, nec posuere mauris. Integer elit elit, vestibulum blandit metus et, malesuada blandit orci. Morbi nisi odio, tempus a finibus vitae, feugiat eu odio.</span>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="other">
          <div class="quote">
             <span class="intro">Other events</span>
            <span class="more"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis justo ullamcorper purus pellentesque fringilla. Nullam sed interdum felis, nec posuere mauris. Integer elit elit, vestibulum blandit metus et, malesuada blandit orci. Morbi nisi odio, tempus a finibus vitae, feugiat eu odio.</span>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>          
      </div>
    </div><!-- container -->
  </div><!-- testimonials page -->
