<div class="container-fluid meetus">
  <div class="row vision" id="vision">
	  <div class="page" id="mission">
	    <div class="content container">
	      <h2 class="heading">Vision</h2>   
	      <div class="row">
	        <p class="col-md-5 col-md-offset-1">Wisdom Pet Medicine strives to blend the best in traditional and alternative medicine in the diagnosis and treatment of companion animals including dogs, cats, birds, reptiles, rodents, and fish. We apply the wisdom garnered in the centuries old tradition of veterinary medicine, to find the safest treatments and&nbsp;cures.</p>
	        <p class="col-md-5">We strive to be your pet's medical experts from youth through the senior years. We build preventative health care plans for each and every one of our patients, based on breed, age, and sex, so that your pet receives the most appropriate care at crucial milestones. We want to give your pet a long and healthy&nbsp;life.</p>
	      </div><!-- row -->
	    </div><!-- content container -->
  </div>
  <div class="row history" id="history">
       <h2 class="heading">History</h2>   
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <p>DesignLab Miami, Inc. is a Florida Corporation established in 2010. The company owns and operates a creative studio in North Miami specializing in teaching and promoting all aspects of the fashion industry, including sewing,  textile design, fashion technology and 3D printing.</p>
            <p>DesignLab Miami believes in cultivating young, creative minds which was the main motivation for opening the design studio. The company has been very successful in creating programs for both children and adults in the studio specifically geared to both short and long term goals as well as several in-school programs in the South Florida area. Additionally, sewing parties, custom workshops and sewing camps have all contributed to the growth, reach, and success of the business.</p>
          </div>
          <div class="col-md-5 ">
          </div>
        </div><!-- row -->
      </div><!-- content container -->
  </div>
  <div class="row lookbook" id="lookbook">
  </div>
  <div class="row team" id="team">
  	<div class="member col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <%= image_tag('angie.jpg', :class => "img-circle") %>
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Angie Smith</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam, nisl eu ullamcorper molestie, purus quam vehicula diam, vehicula pellentesque orci quam quis tellus. Donec laoreet convallis justo sed varius. Morbi quis ipsum ultricies, rhoncus mauris vitae, efficitur elit.</p>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- member -->

        <div class="member col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
             <%= image_tag('guy.jpg', :class => "img-circle") %>
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Jose Smith</h3>
              <p>uspendisse cursus vel felis sit amet ullamcorper. Nulla condimentum consectetur dolor, sit amet eleifend metus malesuada ac. Nullam accumsan, risus ac euismod suscipit, nisl erat varius lectus, at venenatis nisi leo at metus. Vestibulum ac condimentum dui, ut pretium erat.</p>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- member -->

        <div class="member col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <%= image_tag('girl.jpg', :class => "img-circle") %>
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Emma Smith</h3>
             <p>uspendisse cursus vel felis sit amet ullamcorper. Nulla condimentum consectetur dolor, sit amet eleifend metus malesuada ac. Nullam accumsan, risus ac euismod suscipit, nisl erat varius lectus, at venenatis nisi leo at metus. Vestibulum ac condimentum dui, ut pretium erat.</p>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- member -->
  </div>
</div>