<div>
  <div class="carousel fade" data-ride="carousel" id="featured">

    <ol class="carousel-indicators">
      <li data-target="#featured" data-slide-to="0"></li>
      <li data-target="#featured" data-slide-to="1" class="active"></li>
      <li data-target="#featured" data-slide-to="2"></li>
      <li data-target="#featured" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner fullheight">
      <div class="item active"><%= image_tag('buttons.jpg') %>
      <div class="container">
          <div class="carousel-caption">
            <h1>Kids & Teens</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary learnmore" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="item"><%= image_tag('cat.jpg') %>
       <div class="container">
          <div class="carousel-caption">
            <h1>Adult programs</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary learnmore" href="#">Learn more</a>
          </div>
        </div>
    </div>
      <div class="item"><%= image_tag('catflower.jpg') %>
      <div class="container">
          <div class="carousel-caption">
            <h1>Parties & Events</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary learnmore" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="item"><%= image_tag('sewing.jpg') %>
      <div class="container">
          <div class="carousel-caption">
            <h1>Lookbook</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary learnmore" href="#">See more</a>
          </div>
        </div>
      </div>    
    </div><!-- carousel-inner -->

    <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#featured" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div><!-- featured carousel --> 
</div>
<div class="container-fluid">
  <div class="row reviews">
    <blockquote class="col-sm-6 col-md-4" id="herald">
      <div class="quote">
        <span class="headline">"DesignLab students "Light Up" Black Tech Week"</span>
        <span class="reviewer">Miami Herald</span>
      </div>
    </blockquote>
    <blockquote class="col-sm-6 col-md-4" id="Textile">
      <div class="quote">
        <p>
        <span class="headline">"DesignLab discusses Miami as an "Emerging Hub"</span>
        <span class="reviewer">Textile Magazine</span></p
      </div>
    </blockquote>
    <blockquote class="col-sm-6 col-md-4" id="Aventura">
      <div class="quote">
        <span class="headline">"Fashion designer and sewing expert Angie Cohen harnessed her experience and enthusiasm to bring a unique educational opportunity to children."
  </span>
        <span class="reviewer">Aventura Magazine</span>
      </div>
    </blockquote>
  </div>
</div>
