/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

/**  Header Navigation **/

header .navbar {
  padding: 5px 0 8px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color: white;
  border: none;
}
header .navbar-default .navbar-nav a {
  color: #AEA152;
  font-weight: 400;
  // padding: 5px 8px;
}

header .navbar-default .navbar-nav a {
  color: #AEA152;
  font-weight: 400;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #EEC856;
} 

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #FF7330;
  background: transparent;
  border-bottom: 2px solid #FF7330;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #EEC856;
  border-bottom: 2px solid #EEC856;
  background: transparent;
  text-shadow: none;
}


/**  Navbar Brand **/

header .navbar-brand {
  background: image-url('logo.jpg');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 15px 0;
  // margin-top: 10px;
  width: 150px;
  height: auto;
}

/**  Navbar Toggle **/
header .navbar-toggle {
  background-color:  #E7DDDF;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: rgba(231,221,223, .5);
  }
}
/**  nav inbody **/

header .inbody {
  background: rgba(104,73,49,.9);
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 43px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
}

header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}

/**  Carousel Fade **/

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#featured .item {
  margin-top:65px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

/**  Footer **/

footer {
  background: #2d2d2d;
  color: white;
  font-size: .8em;
  text-align: center;
  padding: 5px 0 10px 0;
}

footer a {
  color: #E3D98D;
}

footer a:hover {
  color: #EEC856 !important;
}

footer .email{
  font-size: 1.4em;
  font-weight: 700;
  color: #FF7330;
}

footer .navbar {
  margin-bottom: 0;
  min-height: 0;
}

footer .navbar-default {
  background-color: transparent;
  border: none;
  margin-right: 40px;
}

footer .navbar-nav>li a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: underline;
  color: #E3D98D !important;
}
