/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
/**  Header Navigation **/

header .navbar {
  padding: 5px 0 8px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color: white;
  border: none;
}
header .navbar-default .navbar-nav a {
  color: black;
  font-weight: 400;
  padding: 5px 8px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  margin-right: 25px;
}
header .navbar-default .navbar-nav a:hover {
  color: #7851E8;
} 

// header .navbar-default .navbar-nav .active a {
//   font-weight: 700;
//   background: transparent;
//   border-bottom: 2px solid #7851E8;
//   text-shadow: none;
// }

// header .navbar-default .navbar-nav .active a:hover {
//   color: #EEC856;
//   border-bottom: 2px solid #EEC856;
//   background: transparent;
//   text-shadow: none;
// }


/**  Navbar Brand **/

header .navbar-brand {
  background: image-url('logo.jpg');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 15px 0;
  margin-top: 10px;
  width: 150px;
  height: auto;
}

/**  Navbar Toggle **/
header .navbar-toggle {
  background-color:  #6333E2;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: rgba(231,221,223, .5);
  }
}

/**  Carousel Fade **/

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

 .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 200px;
      text-align:center;
    }

  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }

.carousel .learnmore {
  border-radius: 0;
  border: 2px solid white;
  background-color: transparent;
}
/**  Footer **/

footer {
  background: white;
  color: black;
  font-size: .8em;
  text-align: center;
  padding: 5px 0 10px 0;
}

footer a {
  color: #7851E8;
}

footer a:hover {
  color: #0DFFFF !important;
}

footer .email{
  font-size: 1.4em;
  font-weight: 700;
  color: #FF7330;
}

footer .navbar {
  margin-bottom: 0;
  min-height: 0;
}

footer .navbar-default {
  background-color: transparent;
  border: none;
  margin-right: 60px;
}

footer .navbar-nav>li a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: underline;
  color: black !important;
}
