// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**  Page -- Reviews **/
.reviews {
  background-color: #E7DDDF;
}

.reviews blockquote {
  margin: 0;
  border-left: none;
  position: relative;
}

.reviewer {
	border-left: 50px;
	text-align: center;
	font-weight: 400;
	color: #6D680A;
} 

/**  Page -- Mission **/
.page {
  padding: 50px 0;
}
#mission {
  background-color: #E7DDDF;
  min-height:300px;
  // background-image: linear-gradient(to bottom, #EFAF5D, #E7DDDF);
}
#mission .heading {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

#mission .statement, .services {
  text-align: center;

}

#mission i.fa {
  padding:10px;
  border-radius: 35px;
  background-color: #E7C3DF;
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 35px;
}

/**  Page -- History **/
#history {
 padding: 70px;
 background-color: #E3D98D;
 background-image: linear-gradient(to bottom, #E7DDDF, #E3D98D);
 min-height: 500px;
}
#history .heading {
 text-align: center;
 margin-bottom: 40px;
}
#history .historypic {
 background: image-url('sewingkit.jpg');
 padding: 25px;
 min-height: 500px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}
/**  Page -- Team **/

.meetus {
  margin-top: 65px;
  background-color: #E7DDDF;
}

#team {
  background-color: #E3D98D;
  background-image: linear-gradient(to bottom, #E3D98D, #AEA152);
}

.member {
  margin: 10px 0;
}

.member h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  color: #E7DDDF;
  padding-bottom: 5px;
}

.member p {
  font-size: .8em;
}

.member img {
  width: 100%;
}
