// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**  Page -- Reviews **/
.reviews {
  background-color: #EFF9F0;
}

.reviews blockquote {
  margin: 0;
  border-left: none;
  position: relative;
}

.reviews .headline {
  display: block;
  text-align: center;
  line-height: 20px;
}

.reviewer {
  display: block;
  border-left: 50px;
	text-align: center;
	font-weight: 700;
	color: #5F3A66;
} 



/**  Page -- Mission **/
.page {
  padding: 50px 0;
}
#mission {
  background-color: #E7DDDF;
  min-height:300px;
}
#mission .heading {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

#mission i.fa {
  padding:10px;
  border-radius: 35px;
  background-color: #E7C3DF;
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 35px;
}

/**  Page -- History **/
#history {
 margin-bottom: 50px;
 min-height: 500px;
}
#history .heading {
 text-align: center;
 margin-bottom: 40px;
}
#history .historypic {
 background: image-url('sewingkit.jpg');
 padding: 25px;
 min-height: 500px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}

/**  Page -- Vision **/
#vision {
border-bottom: 7px dotted #000;
box-shadow: outset 0 -3px 0 0 #000, inset 0 3px 0 0 #000;
border-top: 7px dotted #000;
 margin-right: -65px;
 margin-left: -65px;
 margin-top: 35px;
 min-height:200px;
 background-color: #E7BBED;
}

.visionheading {
 margin-top: 30px;
 font-weight: 400;
 text-align: center;
}

#vision .statement {
  line-height: 200px;
  text-align: center;
}


/**  Page -- Team **/

.meetus {
  margin-top: 65px;
  background-color: #E7DDDF;
}

#team {
  padding: 70px;
  // background-color: #E3D98D;
  // background-image: linear-gradient(to bottom, #E3D98D, #AEA152);
}

#team h2{
  text-align: center;
}

.member {
  margin: 10px 0;
}

.member h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  color: #E7DDDF;
  padding-bottom: 5px;
}

.member p {
  font-size: .8em;
}

.member img {
  width: 100%;
}

/**  Page -- kids **/


#kids {
  padding: 0;
}

#kids h2 {
  display: none;
}

#kids blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
  min-height: 500px;
  position: relative;
}

#kids blockquote .quote {
  background-color: rgba(255,255,255,.6);
  padding: 20px 5%;
  position: absolute;
  bottom: 0;
  width: 75%;
  font-weight: 400;
  border-radius: 0 50px 0 0;
}

#kids blockquote .quote:hover {
  background-color: rgba(255,255,255,.9);
}

#kids #camp {
  background: image-url('buttons.jpg') no-repeat center center;
  background-size: cover;
}

#kids #afterschool {
  background: image-url('sewingkit.jpg') no-repeat center center;
  background-size: cover;
}

#kids #inschool {
  background: image-url('cat.jpg') no-repeat center center;
  background-size: cover;
}

#kids #other {
  background: image-url('catflower.jpg') no-repeat center center;
  background-size: cover;
}

#kids .quote {
  font-size: 1.2em;
  line-height: 110%;
  font-weight: 400;
}


#kids .quote .more, #kids .customer, 
#kids .learnmore {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
}


#kids .quote:hover .more {
  min-height:100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  display: block;
  opacity: 1;
  font-size: .9em;
  line-height: 120%;
}
#kids .quote:hover .learnmore {
  margin-top: 10px;
  display: block;
  opacity: 1;
  color: black;
  font-size: .8em;
  border-radius: 0;
  margin: 20px;
  background-color: transparent;
  border: 2px solid #7851E8;
}
#kids .quote:hover .customer {
  display: block;
  font-size: .7em;
  text-align: right;
}
 
@media screen and (min-width: 768px) {

  #myModal .modal-header  {
    text-align: center;
    background-color: black;
    color: white;
  }
  #myModal .modal-dialog  {
    text-align: center;
    width:900px;
  }
  #myModal .info  {
    padding: 15px;
  }
  #myModal .modal-dialog .registernow {
    color: black;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #7851E8;
  }
}

.form {
  margin-top:100px;
}
.sidebar {
  margin-top: 75px;
  padding: 40px;
}
.form-pic {
  min-height: 400px;
  background: image-url('buttons.jpg') no-repeat center center;
  background-size: cover;
  }

/**  Page -- Adults **/

#adults {
  margin-top:50px;
  padding: 25px 0;
}

#adults h2 {
  display: none;
}

#adults blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
  min-height: 150px;
  position: relative;
}

#adults blockquote .quote {
  background-color: rgba(255,255,255,.6);
  padding: 20px 5%;
  position: absolute;
  bottom: 0;
  width: 75%;
  font-weight: 400;
  border-radius: 0 50px 0 0;
}

#adults blockquote .quote:hover {
  background-color: rgba(255,255,255,.9);
}

#adults #sip {
  background: image-url('sewing.jpg') no-repeat center center;
  background-size: cover;
}

#adults #adultclasses {
  background: image-url('sewingkit.jpg') no-repeat center center;
  background-size: cover;
}

#adults #adultprogram {
  background: image-url('girl.jpg') no-repeat center center;
  background-size: cover;
}

#adults #adultother {
  background: image-url('catflower.jpg') no-repeat center center;
  background-size: cover;
}

#adults .quote {
  font-size: 1.2em;
  line-height: 110%;
  font-weight: 400;
}


#adults .quote .more, #testimonials .customer, 
#adults .learnmore {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
}


#adults .quote:hover .more {
  min-height:100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  display: block;
  opacity: 1;
  font-size: .9em;
  line-height: 120%;
}
#adults .quote:hover .learnmore {
  margin-top: 10px;
  display: block;
  opacity: 1;
  color: black;
  font-size: .8em;
  border-radius: 0;
  margin: 20px;
  background-color: transparent;
  border: 2px solid #7851E8;
}
#adults .quote:hover .customer {
  display: block;
  font-size: .7em;
  text-align: right;
}
