// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**  Page -- Reviews **/
.reviews {
  background-color: #E7DDDF;
}

.reviews blockquote {
  margin: 0;
  border-left: none;
  position: relative;
}

.reviews .headline {
  display: block;
  text-align: center;
  min-height: 100px;
}

.reviewer {
  display: block;
  border-left: 50px;
	text-align: center;
	font-weight: 400;
	color: #6D680A;
} 



/**  Page -- Mission **/
.page {
  padding: 50px 0;
}
#mission {
  background-color: #E7DDDF;
  min-height:300px;
  // background-image: linear-gradient(to bottom, #EFAF5D, #E7DDDF);
}
#mission .heading {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

#mission .statement, .services {
  text-align: center;

}

#mission i.fa {
  padding:10px;
  border-radius: 35px;
  background-color: #E7C3DF;
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 35px;
}

/**  Page -- History **/
#history {
 padding: 70px;
 background-color: #E3D98D;
 background-image: linear-gradient(to bottom, #E7DDDF, #E3D98D);
 min-height: 500px;
}
#history .heading {
 text-align: center;
 margin-bottom: 40px;
}
#history .historypic {
 background: image-url('sewingkit.jpg');
 padding: 25px;
 min-height: 500px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}
/**  Page -- Team **/

.meetus {
  margin-top: 65px;
  background-color: #E7DDDF;
}

#team {
  padding: 70px;
  background-color: #E3D98D;
  background-image: linear-gradient(to bottom, #E3D98D, #AEA152);
}

#team h2{
  text-align: center;
}

.member {
  margin: 10px 0;
}

.member h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  color: #E7DDDF;
  padding-bottom: 5px;
}

.member p {
  font-size: .8em;
}

.member img {
  width: 100%;
}

/**  Page -- kids **/


#kids {
  padding: 0;
}

#kids h2 {
  display: none;
}

#kids blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
  min-height: 500px;
  position: relative;
}

#kids blockquote .quote {
  background-color: rgba(255,255,255,.6);
  padding: 20px 5%;
  position: absolute;
  bottom: 0;
  width: 75%;
  font-weight: 400;
  border-radius: 0 50px 0 0;
}

#kids blockquote .quote:hover {
  background-color: rgba(239,240,196,.9);
}

#kids #camp {
  background: image-url('buttons.jpg') no-repeat center center;
  background-size: cover;
}

#kids #afterschool {
  background: image-url('camp1.jpg') no-repeat center center;
  background-size: cover;
}

#kids #inschool {
  background: image-url('cat.jpg') no-repeat center center;
  background-size: cover;
}

#kids #other {
  background: image-url('catflower.jpg') no-repeat center center;
  background-size: cover;
}

#kids .quote {
  font-size: 1.2em;
  line-height: 110%;
  font-weight: 400;
}


#kids .quote .more, #kids .customer, 
#kids .learnmore {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
}


#kids .quote:hover .more {
  min-height:300px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  display: block;
  opacity: 1;
  font-size: .8em;
  line-height: 120%;
}
#kids .quote:hover .learnmore {
  display: block;
  opacity: 1;
  color: black;
  font-size: .8em;
  border-radius: 0;
  margin: 20px;
  background-color: transparent;
  border: 2px solid white;
}
#kids .quote:hover .customer {
  display: block;
  font-size: .7em;
  text-align: right;
}


/**  Page -- Testimonials **/

#testimonials {
  padding: 0;
}

#testimonials h2 {
  display: none;
}

#testimonials blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
  min-height: 500px;
  position: relative;
}

#testimonials blockquote .quote {
  background-color: rgba(255,255,255,.6);
  padding: 20px 5%;
  position: absolute;
  bottom: 0;
  width: 75%;
  font-weight: 400;
  border-radius: 0 50px 0 0;
}

#testimonials blockquote .quote:hover {
  background-color: rgba(239,240,196,.9);
}

#testimonials #janeh {
  background: image-url('buttons.jpg') no-repeat center center;
  background-size: cover;
}

#testimonials #johnb {
  background: image-url('camp1.jpg') no-repeat center center;
  background-size: cover;
}

#testimonials #mcphersons {
  background: image-url('cat.jpg') no-repeat center center;
  background-size: cover;
}

#testimonials #lorraines {
  background: image-url('catflower.jpg') no-repeat center center;
  background-size: cover;
}

#testimonials .quote {
  font-size: 1.2em;
  line-height: 110%;
  font-weight: 400;
}


#testimonials .quote .more, #testimonials .customer, 
#testimonials .learnmore {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
}


#testimonials .quote:hover .more {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  display: block;
  opacity: 1;
  font-size: .8em;
  line-height: 120%;
}
#testimonials .quote:hover .learnmore {
  display: block;
  opacity: 1;
  color: black;
  font-size: .8em;
  border-radius: 0;
  margin: 5px;
  background-color: transparent;
  border: 2px solid white;
}
#testimonials .quote:hover .customer {
  display: block;
  font-size: .7em;
  text-align: right;
}


